* {
    margin: 0px;
    padding: 0px;
}


/* main */

.clb {
    clear: both;
}

.main {
    margin: 0px;
    max-width: 100%;
    height: 140px;
}

.contener {
    width: 100%;
    height: 180px;
}

.logo {
    background-color: rgb(30, 30, 36);
    width: 50%;
    height: 115px;
    float: left;
}

.logo img {
    padding: 48px 150px;
    width: 252px;
    height: 18px;
}

.manu {
    background-color: rgb(30, 30, 36);
    width: 50%;
    height: 115px;
    float: right;
}

ul li {
    display: inline-block;
    font-size: 20px;
    padding: 22px;
}

ul li a {
    text-decoration: none;
    margin-left: 26px;
    color: white;
}

ul li a:hover:active:focus {
    color: rgb(194, 21, 128);
    border-top: 3px solid red;
}

ul {
    margin-top: 20px;
}

.img_main div img {
    width: 100%;
    height: 319px;
}


/* box */

.main1 {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

.main1 .box {
    width: 33.33%;
    height: 400px;
    float: left;
}

.box .box_width img {
    width: 100px;
    height: 72px;
    align-items: center;
    margin-left: 130px;
}